<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 x">
                <img [src]="product.payload.val().imgurl" class="img-fluid" >
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3>{{product.payload.val().name}}</h3>
                <p>Hello my Name is {{product.payload.val().name}} And I'am Is a Test Employee</p>
            
         

            </div>
        </div>
    </div>
</section>