
<div class="container">
    <div class="row">
        <ng-container *ngFor="let x of Filterproduct let i = index">


            <div class="col-md-3">
                <div class="products-tabs">
             

                    <div id="tab1" class="tab-pane active">
                        <div class="products-slick" data-nav="#slick-nav-1">
                
                            <div class="product">
                                <a [routerLink]="['Employee/',x.key]">

                                    <div class="product-img">
                                        <img [src]="x.payload.val().imgurl" alt="">
              
                                    </div>
                                </a>
                                <div class="product-body">
                                    <h3 class="product-name">{{x.payload.val().name}}</h3>
                                  
                                </div>
                            
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </ng-container>
    </div>
</div>
